@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//Common Css
$color-primary:#ff9711;
$font-primary:'Montserrat', sans-serif;
//main css
body{
    font-family: $font-primary;
}
header{
    background: #262626;
    border-bottom: 1px solid #fff;
    z-index: 99999;
    .logo{
        font-size: 28px;
        font-weight: 300;
        span{
            font-size: 28px;
            font-weight: 700;
        }
    }
    button{
        span{
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 1px;
            
        }
    }
    ul{
        padding: 20px 0;
        li{
            margin-right: 60px;
            a{
                color: #fff !important;
                font-size: 16px;
                font-weight: 300;
            }
            .active{
                color: $color-primary !important;
            }
        }
        a:hover{
            color: $color-primary !important;
        }
    }
    .call{
        color: #fff;
        text-decoration: none;
        border: 1px solid $color-primary;
        border-radius: 2rem;
        padding: 10px 20px;
        font-weight: 300;
        font-size: 16px;
        i{
            color: $color-primary;
            padding-right: 5px;
        }
    }
}
//================================End Header==========================
#banner{
    background-image: url(../image/banner/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .overly{
        position: absolute;
        background-color: #fff;
        height: 201px;
        width: 120%;
        bottom: -118px;
        left: 0;
        transform: rotate(-6deg);
    }
    .text-box{
        position: absolute;
        width: 100%;
        top: 30.61%;
        a{
            color: #fff;
            text-decoration:none;
            i{
                font-size: 18px;
                margin-right: 10px;
                background-color: #fff;
                border-radius: 100%;
                color: $color-primary;
                border: 2px solid $color-primary;
            }

        }
        .title{
            font-size: 100px;
            color: #fff;
            font-weight: 200;
            line-height: 1;
        }
        .subtitle{
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            margin-bottom: 40px;
        }
        .join-btn{
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            padding: 10px 50px;
            border-radius: 2rem;
            border: 2px solid #fff;
            background-color: $color-primary;
        }
    }

}
// ==================================/banner================
#boxes{
    margin-top: -270px;
    z-index: 1;
    .single-box1{
        padding-left: 47px;
        padding-top: 52px;
        padding-right: 37px;
        padding-bottom: 69px;
        background-color: #262626;
        position: relative;
        .title{
            font-size: 24;
            font-weight: 400;
            color: #fff;
            line-height: 1.2;
            margin-top: 27px;
            margin-bottom: 27px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            line-height: 2;
        }
    }
    .single-box1::before{
        position: absolute;
        text-align: center;
        font-size: 19px;
        font-weight: 500;
        content:"✔";
        color: #fff;
        padding: 10px 15.9px;
        bottom: -15px;
        background-color: $color-primary;
        border: 1px solid #fff;
        border-radius: 5rem;
    }
    
    .single-box2{
        padding-left: 47px;
        padding-top: 52px;
        padding-right: 37px;
        padding-bottom: 81px;
        background-color: #EF8701;
        position: relative;
        .title{
            font-size: 24;
            font-weight: 400;
            color: #fff;
            line-height: 1.2;
            margin-top: 27px;
            margin-bottom: 27px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            line-height: 2;
        }
    }
    .single-box2::before{
        position: absolute;
        text-align: center;
        font-size: 19px;
        font-weight: 500;
        content:"✔";
        color: #fff;
        padding: 10px 15.9px;
        bottom: -15px;
        background-color: $color-primary;
        border: 1px solid #fff;
        border-radius: 5rem;
    }
    
    .single-box3{
        padding-left: 47px;
        padding-top: 52px;
        padding-right: 37px;
        padding-bottom: 71px;
        background-color:#FF9711;
        position: relative;
        .title{
            font-size: 24;
            font-weight: 400;
            color: #fff;
            line-height: 1.2;
            margin-top: 27px;
            margin-bottom: 27px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            line-height: 2;
        }
    }
    .single-box3::before{
        position: absolute;
        text-align: center;
        font-size: 19px;
        font-weight: 500;
        content:"✔";
        color: #fff;
        padding: 10px 15.9px;
        bottom: -15px;
        background-color: $color-primary;
        border: 1px solid #fff;
        border-radius: 5rem;
    }
}
//==========================================End Boxes================================
#about{
    overflow: hidden;
    .text-area{
        padding-top: 70px;
        padding-bottom: 10px;
        .sub-title{
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 0.75;
            color: $color-primary;
        }
        .main-title{
            font-size: 72px;
            font-weight: 400;
            line-height: 1.1;
            margin-top: 3px;
            color: #262626;
            span{
                font-weight: 600;
            }
        }
        .headding{
            font-size: 16px;
            font-weight: 600;
            color: #535353;
            line-height: 1.75;
            margin-top: 35px;
        }
        p{
            margin-top: 28px;
            font-size: 14px;
            line-height: 2;
            font-weight: 400;
            color: #535353;
            margin-bottom: 50px;
        }
        .join-btn{
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            padding: 10px 50px;
            border-radius: 2rem;
            border: 1px solid #fff;
            background-color: $color-primary;
        }
    }
    img{
        transform: rotate(-6deg);
    }
}
//==================================================End About=================================
#testimonials{
    position: relative;
    background:url(../image/banner/testimonials.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-bottom:100px;
    .overlay{
        position: absolute;
        height: 200px;
        width: 200%;
        background-color: #fff;
        left: -24px;
        top: -196px;
        transform: rotate(-5deg);

    }
    .mt{
        padding-top: 280px;
        .subtitle{
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 0.75;
            color: $color-primary;    
        }
        .title{
            font-size: 72px;
            font-weight: 400;
            line-height: 1.1;
            margin-top: 3px;
            color: #fff;
        }
        .tes-body{
            margin-top: 137px;
            img{
                border-radius: 100%;
            }
            a{
                color: #fff;
                font-size: 20px;
                font-weight: 300;
                text-decoration: none;
                transition:all 200ms ease;
            }
            a:hover{
                color: $color-primary;
            }
        }
        .sub-name{
            font-size: 12px;
            font-weight: 600;
            color: #ff9711;
            line-height: 0.75;
            text-transform: uppercase;
            margin-top: 9px;
        }
        p{
            font-style: italic;
            color: #a8a8a8;
            margin-top: 27px;
            font-size: 13px;
        }
        .icons{
            color: $color-primary;
            i{
                font-size: 10px;
                margin-right: 4px;
            }
            i:last-child{
                color: #e0cccd;
            }
        }
    }
    .tes-body:nth-child(1){
        margin-top: 0;
    }
    .btn-area{
        margin-top: 72px;
        .join-btn{
            font-size: 16px;
            color: #fff;
            font-weight: 500;
            padding: 10px 50px;
            border-radius: 2rem;
            border: 1px solid #fff;
            background-color: $color-primary;
        }
    }
}
#course{
    padding: 100px 0;
    .subtitle{
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 0.75;
        color: $color-primary;    
    }
    .title{  
        font-size: 72px;
        font-weight: 400;
        line-height: 1.1;
        margin-top: 3px;
        color: #262626;
    }
    .row{
        margin-top: 87px;
    }
    .service-col{
        margin-bottom: 79px;
    }
    .service-title{
        padding-left: 37px;
        font-size: 24px;
        font-weight: 400;
        color: #262626;
    }
    .service-text{
        p{
            font-size: 14px;
            line-height: 2;
            font-weight: 400;
            color:#535353;
        }
    }
}
// ==========================================End coures==========================================
#blog{
    background:url(../image/banner/blog.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    padding-top: 314px;
    padding-bottom: 100px;
    .overlay{
        position: absolute;
        top: -270px;
        right: 0;
        width: 130%;
        height: 270px;
        transform-origin: bottom right;
        transform: rotate(-8deg);
        background: #fff;
    }
    .sub-title{
        font-size: 12px;
        font-weight: 600;
        color: #ff9711;
        line-height: 0.75;
        text-transform: uppercase;
        margin-top: 9px;   
    }
    .title{ 
        font-size: 72px;
        font-weight: 400;
        line-height: 1.1;
        margin-top: 3px;
        color: #fff;
    }
    .view-link{
        color:$color-primary;
        font-size: 14px;
        font-weight: 600;
    }
    .col-blog:not(:last-child){
        margin-bottom: 60px;
    }
    .row{
        margin-top: 86px;
        .text-area{
            margin-top: 20px;
            .headding{
                font-size: 24px;
                font-weight: 400;
                color: #ffffff;
                line-height: 1.1;
                text-decoration: none;
                transition: all 200ms ease;
            }
            .headding:hover{
                color: $color-primary;
            }
            .sub-headding{
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                color: $color-primary;
                margin-top: 8px;
            }
            p{
                margin-top: 22px;
                color: #a8a8a8;
                font-size: 14px;
                line-height: 2;
                font-weight: 400;
                margin-bottom: 46px;
            }
            .read-link{
                font-size: 12px;
                font-weight: 400;
                color: #ff9711;
                text-decoration: none;
            }
        }
    }
}
// ============================================End Blog============================================
footer{
    display: block;
    width: 100%;
    background: #262626;
    padding-top: 96px;
    border-top: solid 1px #88591d;
    padding-bottom: 20px; 
    .footer-content{
        position: relative;
        padding-bottom: 253px;
        z-index: 2;
        .footer-logo{
            a{
                color: #fff;
                text-emphasis: none;
            }
            .logo-area{
                img{
                    width: 38px;
                    height: 38px;
                    margin-right: 4px;
                }
                .logo{
                    font-size: 45.07px;
                    font-weight: 700;
                    span{
                        font-weight: 300;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .footer-nav{
            margin-top: 80px;
            .nav-line{
                li{
                    a{
                        font-size: 16px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
                li:not(:last-of-type){
                    margin-right: 50px;
                }
            }
        }
        .mail{
            margin-top: 75px;
            .mail-form{
                position: relative;
                .mail-input{
                    width: 100%;
                    height: 61px;
                    background: rgba(0,0,0,0.58);
                    border-radius: 31px;
                    border: 1px solid $color-primary;
                    padding-left: 39px;
                    outline: none;
                    color: #ffffff;
                }
                .mail-btn{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 61px;
                    height: 61px;
                    border-radius:50%;
                    border: none;
                    background: $color-primary;
                    outline: none;
                    font-size: 16px;
                    font-weight: 700;
                    color: #ffffff;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }
        }
        .copyright{
            padding-right: 15px;
            font-size: 12px;
            font-weight: 400;
            color: gray;
            line-height: 0.75;
            margin-top: 33px;
            a{
                padding-left: 2px;
                color:$color-primary;
                text-decoration: none;
            }
        }
    }
    .footer-image{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding-left: 78px;
        z-index: 1;
        opacity: 0.5;
        img{
            max-width: 100%;
        }
    }
}
// =======================================Responsive Css=======================================
// =================================Media Quary=========================================

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    #banner{
        .text-box{
            .title{
                font-size: 48px;
            }
        }
    }
    #boxes{
        .single-box1{
            margin-bottom: 60px;
        }
        .single-box2{
            margin-bottom: 60px;
        }
    }
    #testimonials{
        .title{
            font-size: 48px !important;
        }
        .overlay{
            top: -70px;
        }
        .mt{
            padding-top: 200px;
        }
        .tes-body{
            margin: 25px 0 !important;
        }
        .btn-area{
            margin-top: 10px;
        }
    }
    footer{
        .footer-content{
            padding-bottom: 0px;
            .footer-nav{
                .nav-line{
                    li{
                        margin-bottom: 20px;
                    }
                }
            }
            .copyright{
                font-size: 10px;
            }
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    #banner{
        .text-box{
            .title{
                font-size: 72px;
            }
        }
    }
    #boxes{
        .single-box1{
            margin-bottom: 60px;
        }
        .single-box2{
            margin-bottom: 60px;
        }
    }
    #testimonials{
        .overlay{
            top: -70px;
        }
        .tes-body{
            margin: 30px 0 !important;
        }
        .btn-area{
            margin-top: 10px;
        }
    }
    footer{
        .footer-content{
           .footer-nav{
               .nav-line{
                   li:not(:last-of-type){
                       margin-right: 25px;
                   }
               }
           }
        }
    }
}
// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    #boxes{
        .single-box1{
            margin-bottom: 60px;
        }
        .single-box2{
            margin-bottom: 60px;
        }
    }
    #testimonials{
        .overlay{
            top: -78px;
        }
        .tes-body{
            margin: 50px 0 !important;
        }
        .btn-area{
            margin-top: 15px !important;
        }
    }
 }

// // Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #boxes{
        .single-box2{
            padding-bottom: 53px;
        }
    }
    #boxes{
        .box1{
            margin-bottom: 60px;
        }
        .box2{
            margin-bottom: 60px;
        }
    }
    #about{
        img{
            max-width: 642px !important;
            margin-top: 99px;
        }
    }
}

// // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    #about{
        img{
            max-width: 642px !important;
            margin-top: 90px;
        }
    }
}